body {
  background: #fcfcfd;
  color: #393c41;
}

a {
  color: #0068B3;
}

#header {
  background: #fff;
  border-bottom: 1px solid #e6e6ec;
}

pre {
  background: #39393a;
  color: #fcfcfd;
}

p code,
li code {
  color: #444;
  background: #e8e8ee;
}

article h1 {
  border-bottom: 1px solid #dfdfdf;
}

.container h3 {
  color: rgba(0,0,0,0.3);
}

.container img {
  border: 1px solid #e6e6ec;
}

.posts main {
  border-bottom: 1px dashed #bbb;
}
