body {
  color: #52545a;
}

a {
  color: #2d7dbe;
}

.day {
  color: #9e9e9e;
}

p code,
li code {
  color: #444;
  background: #f1f1f5;
}

article h1 {
  border-bottom: 1px solid #dfdfdf;
}

.container img {
  border: 1px solid #e6e6ec;
}

.posts main {
  border-bottom: 1px dashed #bbb;
}

.hljs {
  background-color: #29292f;
}
