#header {
  padding: 20px;
}

.container {
  width: 830px;
  margin: 60px auto;
}

.container img {
  max-width: 830px;
}

.posts main {
  margin: 60px auto 120px;
  padding-bottom: 20px;
}

iframe {
  border: 0;
}

hr {
  height:0px;
  margin:20px 0;
  border:none;
  border-bottom: 1px solid #f0f0f0;
}

.hljs {
  border-radius: 6px;
  padding: 1em;
  background-color: #2a2a2a;
}
