.header {
  padding: 48px 0 30px;
  text-align: center;
}

.menu {
  padding: 0;
  font-size: 0.8em;
}

.menu > li {
  display: inline-block;
  padding: 0;
}

.container {
  max-width: 830px;
  padding: 15px;
  margin: 35px auto;
}

.container img {
  max-width: 100%;
  margin: 40px 0;
}

.posts main {
  margin: 0 auto 120px;
  padding-bottom: 20px;
}

.day {
  margin: 10px 0 40px;
  font-size: 0.8em;
}

.day-icon {
  margin-right: 6px;
  vertical-align: 1px;
}

iframe {
  border: 0;
  max-width: 100%;
}

hr {
  height: 0px;
  margin: 20px 0;
  border: none;
}

.hljs {
  border-radius: 6px;
  padding: 1em;
  margin: 2em 0;
}

.tag {
  margin-top: 50px;
  padding: 20px 0;
}

.tag-link {
  margin-left: 5px;
  vertical-align: 1px;
}

.footer {
  text-align: center;
  margin-bottom: 100px;
}

.author {
  width: 65px;
  height: 65px;
  background-image: url(../images/author.png);
  background-size: 65px 65px;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  margin: 0 auto 10px;
}

.social li {
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
}

.social li a {
  color: #7e7e7e;
}

.copyright {
  margin-top: 10px;
}
