.header {
  padding: 20px;
}

.container {
  max-width: 830px;
  padding: 15px;
  margin: 10px auto;
}

.container img {
  max-width: 100%;
}

.posts main {
  margin: 0 auto 120px;
  padding-bottom: 20px;
}

.day {
  margin: 10px 0 40px;
  font-size: 0.8em;
}

.day-icon {
  margin-right: 10px;
}

iframe {
  border: 0;
  max-width: 100%;
}

hr {
  height: 0px;
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #f0f0f0;
}

.hljs {
  border-radius: 6px;
  padding: 1em;
}

.menu {
  float: right;
}

.menu > li {
  display: inline-block;
  padding-left: 15px;
}

.tag {
  margin-left: 5px;
}
