body {
  font-family: "Helvetica", "sans-serif";
  font-size: 1em;
}

p {
  margin: 0.6em 0;
}

a {
  text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

main header > h1 {
  font-size: 2em;
  line-height: 130%;
  margin: 0;
}

#header h1 {
  margin: 0;
  padding: 0;
}

article h1 {
  padding-bottom: 4px;
  margin-top: 1.6em;
  margin-bottom: 0.4em;
}

.container h2 {
  line-height: 130%;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.container h3 {
  line-height: 130%;
  margin-top: 30px;
  margin-bottom: 0.4em;
}

ul {
  padding-left: 1.2em;
}

li > ul {
  margin: 0;
}

.container ul {
  margin: 30px 0;
}

.container li {
  margin: 3px 0 3px 20px;
}

code {
  font-family: "Source Code Pro", "sans-serif";
  font-size: 0.9em;
}

p code,
li code {
  padding: 1px 3px;
  margin: 0 2px;
  font-size: 0.8em;
  border-radius: 4px;
}
