<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <div class="container archive-list">
      <article>
        <ul>
          {{ range .Data.Pages }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              <time><div class="list-day">{{ .Date.Format "2006-01-02" }}</div></time>
            </li>
          {{ end }}
        </ul>
      </article>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "analytics.html" . }}
  </body>
</html>
